body {
    background-color: #ccffff;
    color: #333333;
    }
header,
main,
aside,
footer {
    text-align: center;
}

/*Start Navigation*/

nav .wrapper {
    width: 800px;
    margin: auto;
    padding: 0 15px;
}
  
nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li a {
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    color: #004a5f;
}
nav li a:hover {
      color: black;
}

footer {
    border: 2px solid #004a5f;
    margin-bottom: 10px;
    border-radius: 5px;

/*store and start again
body, html {
       height: 100%;
       margin: 0;
       font-family: 'Mohave', sans-serif;
}
/*Typography
body {
    background-color: #ccffff;
    color: #333333;
} 
/*The hero image
 .hero-image {
background-image: url("images/tahitiweb3.jpg");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-text {
   text-align: center;
   position: absolute;
   font-family: 'Amatic SC', cursive;
   color: #004a5f;
   font-style: bold;
   }
/*Layout Structure

footer {
  border: 2px solid #004a5f;
  margin-bottom: 10px;
  border-radius: 5px;
}

article,
footer {
text-align: center;
}

.Client-Testimonials {
        display: flex; 
        flex-direction: column;
        margin: 20px;
}
.test1 {
    background-color: white;
    color: #004a5f;
    border: 2px solid #004a5f;
    border-radius: 5px;
    padding: 20px;
   }
.test2 {
    background-color: white;
    color: #004a5f;
    border: 2px solid #004a5f;
    border-radius: 5px;
    padding: 20px;
}
aside {
        background-color: #13f3f3;
        color: #004a5f;
        padding: 12px 20px;
        margin: 20px 100px 20px 100px;
        border: 1px solid #004a5f;
        border-radius: 10px;
        box-shadow: 5px 5px 5px;
        cursor: pointer;
    }

footer {
    background-color: #004a5f;
    color: white;
}
    
/*Index styles*/


 


/*Start Navigation
nav .wrapper {
    width: 800px;
    margin: auto;
    padding: 0 15px;
}
  
nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li a {
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    color: #004a5f;
}
nav li a:hover {
      color: black;
}
/*End Navigation*/
/*Quote Styles*/

/*Buttons
input[type="reset"] {
  background-color: #ccffff;
  color: #004a5f;
  padding: 12px 20px;
  margin: 20px;
  border: 1px solid #004a5f;
  border-radius: 4px;
  cursor: pointer;
}

input[type="reset"]:hover {
  background-color: #004a5f;
  color: #ccffff;
  border: 1px solid;
}

input[type="submit"] {
  background-color: #004a5f;
  color: white;
  padding: 12px 20px;
  margin: 20px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ccffff;
  color: #004a5f;
  border: 1px solid #004a5f;
}
/*Structure
  
.wrapper-form {
    border-radius: 20px;
    background-color: #004a5f;
    color: white;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
  }
  
.wrapper-button {
    display: flex;
    justify-content: center;
  }
/*Form Controls
.input {
    font-size: 1em;
  }
  
input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
input[type="tel"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
input[type="number"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
   input[type="date"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
 .label-required {
    font-size: 1rem;
    color: rgb(192, 99, 99);
  }
