/*general styles*/
html {
    font-size: 62.5%;
}
body {
    background-color: #ccffff;
    color: #333333;
    font-family: Mohave, sans-serif;
    text-align: center;
}
.Header-Home {
    background-color: #004a5f;
}
.Header-Home h1 {
    color:#ccffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
}

/*Start Navigation*/
nav .wrapper {
    width: 800px;
    margin: auto;
    padding: 0 15px;
}
  
nav ul {
    display: flex;
    justify-content:space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li a {
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    color: #004a5f;
}
nav li a:hover {
      color: black;
}
/*End Navigation*/

main {
    padding: 15px;
    width: 800px;
    margin: auto;
    display: flex;
}
aside {
    border: 2px solid #004a5f;
    padding: 15px;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-wrap: wrap;
    align-content: space-between;

}
footer {
    background-color: #004a5f;
    color: black;
}

/*Geocaching Trips Styles*/
body {
    background-color: #ccffff;
    color: #333333;
    font-family: Mohave, sans-serif;
    text-align: center;
}
nav .wrapper {
    width: 800px;
    margin: auto;
    padding: 0 15px;
}
  
nav ul {
    display: flex;
    justify-content:space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li a {
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    color: #004a5f;
}
nav li a:hover {
      color: black;
}
main {
    padding: 15px;
    width: 800px;
    margin: auto;
    display: flex;
}
footer {
    background-color: #004a5f;
    color: black;
}

  
/*Quote Styles*/
body {
    background-color: #ccffff;
    color: #333333;
    font-family: Mohave, sans-serif;
    text-align: center;
}
nav .wrapper {
    width: 800px;
    margin: auto;
    padding: 0 15px;
}
  
nav ul {
    display: flex;
    justify-content:space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li a {
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    color: #004a5f;
}
nav li a:hover {
      color: black;
}
main {
    padding: 15px;
    width: 800px;
    margin: auto;
    display: flex;
}
footer {
    background-color: #004a5f;
    color: black;
}


/*Travel Advisory Styles*/
body {
    background-color: #ccffff;
    color: #333333;
    font-family: Mohave, sans-serif;
    text-align: center;
}
nav .wrapper {
    width: 800px;
    margin: auto;
    padding: 0 15px;
}
  
nav ul {
    display: flex;
    justify-content:space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li a {
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    color: #004a5f;
}
nav li a:hover {
      color: black;
}
main {
    padding: 15px;
    width: 800px;
    margin: auto;
    display: flex;
}
footer {
    background-color: #004a5f;
    color: black;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body nav .menu-label {
      display: none;
    }
  
    body nav ul {
      display: flex;
      flex-direction: row;
    }
  
    body nav ul li {
      padding-right: 20px;
    }
  
    body nav .toggle {
      display: none;
    }
  
    body main {
      display: flex;
      flex-direction: column;
    }
  
    body article {
      flex: 2 1 0;
      margin-right: 10px;
    }
    body aside {
      flex: 1 1 0;
    }
  
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    body nav ul,
    body main {
      width: 1200px;
      margin: 0 auto;
     }
  
    
